CONFIG_IEEE802154_ENABLED=y
CONFIG_IEEE802154_RX_BUFFER_SIZE=4
CONFIG_IEEE802154_CCA_ED=y
CONFIG_IEEE802154_CCA_THRESHOLD=-75
CONFIG_IEEE802154_TIMING_OPTIMIZATION=y
CONFIG_IEEE802154_MULTI_PAN_ENABLE=y
CONFIG_IEEE802154_INTERFACE_NUM=2
CONFIG_ESP_COEX_SW_COEXIST_ENABLE=n
CONFIG_EXTERNAL_COEX_ENABLE=n
CONFIG_FREERTOS_UNICORE=y
CONFIG_ESP_SYSTEM_SINGLE_CORE_MODE=y
CONFIG_BOOTLOADER_WDT_ENABLE=n
CONFIG_ESP_TASK_WDT_INIT=n
CONFIG_ESP_INT_WDT=n
CONFIG_LOG_DEFAULT_LEVEL_WARN=y
CONFIG_LOG_MAXIMUM_LEVEL_WARN=y
CONFIG_COMPILER_OPTIMIZATION_PERF=y
